body{
	background: blue;
	/*background: rgba(155,155,155,0.5);
	background: #FF0000;*/
	color: white;
}
footer{
	border: 1px solid orange;
	font-weight: bold;/*letra en negrita*/
	padding: 50px;
	text-align: center;
}

header{
	border: 1px solid black;
	/*o desde el main poniendole margin-top: 20;, es lo mismo */
	margin-bottom: 20px;
	text-align: center;
}

header nav ul li{
	background:  orange;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block; /*para  */
	padding: 10px 20px;
	/*margin: 0px 20px 0px 20px;*/
	/*otra manera con margin right*/
	margin-right: 20px;
	width: 90px;
}

header nav ul li:hover {
	background:  black;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block; /*para  */
	width: 90px;
}

main article{
	border: 1px dashed black;
	/*display inline-block ayuda a que las cajas esten juntas (articleS)*/
	display: inline-block;
	/*vertial-align: top; nos ayuda a que el texto inicie desde 
	la parte superior*/
	vertical-align: top;
	width: 32.90%
}
