/*imagen con atributo alt*/
img[alt]{
	border:5px solid blue;
}
img[src="img/HTML5logo.png"]{
	word-wrap: 400px;
}
/*. ^ */
/*imagen con atributo SRC con el inicio de la cadena*/
img[src^="img/"]{
	width: 150px;
}
/*imagen con atributo SRC con el final de la cadena*/
img[src$="png"]{
	width: 250px;
}
/*imagen con atributo SRC en cualquier parte de la cadena*/
img[src*="mg/"]{
	width: 100px;
}
/*el caracter ~ indica que estos seleectores estan separados por espacios*/
article[class~="resaltado"]{
	border: 1px dashed blue;
}
article[class~="archivo"]{
	border: 1px dashed red;
}
article[class~="ingles"]{
	border: 1px dashed green;
}
/*el atributo class/id es una lista de valores separados por guiones */
article[class|="ingles"]{
	text-align: center;
}
/*selector de secundarios,seleccionar solamente las <> que se encuentran inmediatamente
despues del <DIV>*/
/*Solo hijos directos de DIV*/
div > p{
	color: blue;
}
/*todos los elementos <p> seran seleccionados*/
div p{
	color: red;
}

/*Seleccionar solo el elemento<p> que esta inmediatamente despues del elemento<h2>
Se llama: Hermano adyacente
*/
h2 + p {
	color: green;
}
/*Seleccionar todos los elementos de <p> del elemento especificado
Se llama: hermano General*/
h2 ~ p{
	color: gray;
}

/*Poner en color rojo el texto de las secciones menos el id="referencias"*/
section:not(#referencias){
	color: hotpink;
}

/*Numeros ordinales*/
li:nth-child(odd){ /*Impares*/
	color: green;
}

li:nth-child(even){ /*Pares*/
	color: blue;
}

li:nth-child(5){ /*Quinto Elemento*/
	color: red;
}

li:nth-last-child(2){ /*1 elemento del final, 2 elemento del final(penultimo)*/
	color: green;
}

p:first=line{
	font-weight: bold;
}

